.photo-grid {
  display: flex;
  justify-content: center;
  margin: 118px auto 0;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 90px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 90px 16px 0;
  }
}
