.places__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 768px) {
  .places__title {
    display: flex;
    align-self: flex-end;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 580px) {
  .places__title {
    display: block;
    align-self: center;
    width: 288px;
    text-align: left;
    font-size: 32px;
    line-height: 1.09;
  }
}
