.cover {
  max-width: 1184px;
  min-height: 748px;
  margin: 92px auto 0;
  background-image: url(../../images/footer_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 580px) {
  .cover {
    min-height: 254px;
  }
}
