.places__place {
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title artist"
    "image content"
    "button .";

  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

.places__place:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .places__place {
    max-width: 720px;
    margin-top: 72px;
    grid-column-gap: 28px;
    grid-row-gap: 46px;
  }
}

@media screen and (max-width: 580px) {
  .places__place {
    grid-row-gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
